<div *ngFor="let items of listItems">
    

    <div>
        <nz-comment  [nzAuthor]="items.owner.display_name" [nzDatetime]="items.creation_date|date"  >
            <nz-avatar nz-comment-avatar  [nzSrc]="items.owner.profile_image"></nz-avatar>
            <nz-comment-content>
              <p>
               {{items.title}}
              </p>
             
            </nz-comment-content>
            <nz-comment-action>
                <nz-tag nzColor="#3b5999" *ngFor="let tag of items.tags">
                 <span>{{tag}}</span>
                  </nz-tag>
              </nz-comment-action>
        
            <nz-comment-action><a [routerLink]="['/details',items.question_id]"  >{{items.answer_count}} Answeres</a></nz-comment-action>
          </nz-comment>
        <router-outlet></router-outlet>
    </div>

</div>